@model ffdraftday.ViewModels.TeamViewModel

@{ var team = Model.Team; }
<div class="float-right">
    <h4>@team.Draft.Name</h4>
</div>
<div>
    <span class="h3">@team.Name</span>
    <a asp-action="Edit" asp-route-id="@team.Id" class="ml-3">Edit</a>
</div>
<div>@team.Owner</div>
<hr />
<div>
    <a asp-controller="Drafts" asp-action="Details" asp-route-id="@team.DraftId" class="btn btn-outline-primary">Back to Draft</a>
</div>

<div class="mt-4">
    <h4>Trades</h4>
    @foreach(Trade trade in Model.Trades)
    {
        <div class="shadow my-2 p-2 col-lg-8">
            <div class="row">
                <div class="col-6">
                    <div class="font-weight-bold">@trade.Team1.Name</div>
                    @foreach (TradeItem item in trade.Items.Where(i => i.TeamId == trade.Team1.Id))
                    {
                        @if (item.IsPlayer)
                        {
                            <div>@($"{item.Player.Name} ({item.Round})")</div>
                        }
                        else
                        {
                            <div>Pick @item.Round.@item.Selection</div>
                        }
                    }
                </div>
                <div class="col-6">
                    <div class="font-weight-bold">@trade.Team2.Name</div>
                    @foreach (TradeItem item in trade.Items.Where(i => i.TeamId == trade.Team2.Id))
                    {
                        @if (item.IsPlayer)
                        {
                            <div>@($"{item.Player.Name} ({item.Round})")</div>
                        }
                        else
                        {
                            <div>Pick @item.Round.@item.Selection</div>
                        }
                    }
                </div>
            </div>
        </div>
    }
</div>


<div class="mt-4">
    <h4>Picks</h4>
    @if (!Model.Picks.Any())
    {
        <div>Not loaded</div>
    }
    else
    {
        foreach (Pick pick in Model.Picks.OrderBy(p => p.OverallPick))
        {
            <div class="row my-1">
                <div class="col-3">
                    @($"{pick.Round}.{pick.Selection} ({pick.OverallPick})")
                </div>
                <div class="col-3">
                    @pick.Player?.Name
                </div>
                <div class="col-3">
                    @pick.Player?.Position
                </div>
                <div class="col-3">
                    @pick.Player?.NFLTeam
                </div>
            </div>
        }
    }
</div>